<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="NetricSDKTest">
            <directory>.</directory>
        </testsuite>
    </testsuites>

    <!-- these are for code-coverage reports, but for some reason it is ignoring
    the blacklist and throwing errors over code in lib/ZPush that we did not write
    -->
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>../src</directory>
        </whitelist>
        <blacklist>
            <directory>../vendor</directory>
            <directory>../tests</directory>
        </blacklist>
    </filter>

    <logging>
        <!-- see filter above for info as to why this is commented out -->
        <log type="coverage-html" target="./tmp/coverage/" highlight="true" lowUpperBound="50" highLowerBound="80" />
        <log type="junit" target="./tmp/logfile.xml" logIncompleteSkipped="false"/>
    </logging>

    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
            <arguments>
                <array>
                    <element key="slowThreshold">
                        <integer>2000</integer>
                    </element>
                    <element key="reportLength">
                        <integer>10</integer>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>

    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>

</phpunit>
